/* Removes standard margin and padding from all elements */
* {
	margin: 0;
	padding: 0;
	
	/* # Variables # */
	/* 
	 * Variables start with doulbe dash "--"
	 * It is good practice to prefix all variables with one letter of their type.
	 * At least for colors
	 * C = Color
	 * T = Transition
	 */
	--CBlack: 			#1f1f1f;
	--CWhite: 			#e9e6e6;
	--CHighlight:		#ffce46;
	--CBlurTransparent: #2a2a2aa4;

	--TSmooth: cubic-bezier(0,1,1,1);

	/* Sets default foreground and background colors */
	background-color: var(--CBlack);
	color: var(--CWhite);

	font-family: sans-serif;

	scroll-behavior: smooth;
}

code {
	background-color: var(--CWhite);
	color: var(--CBlack);
	border-radius: 5px;
	padding: 5px;
	font-family: "JetBrains Mono", Consolas, monospace;

	transition: color var(--TSmooth) 0.5s, background-color var(--TSmooth) 0.2s;
}

code:hover {
	color: var(--CHighlight);
	background-color: var(--CBlack);
}

html {
	scroll-padding-top: calc(2vw + 15px);
}

h1 {
	font-size: 1.45em;
}

.BackgroundBlured {
	backdrop-filter: blur(10px);
}

nav.Bar {
	height: 2vw;
	line-height: 2vw;
	width: 100%;

	position: fixed;
	top: 0;

	background-color: var(--CBlurTransparent);
	backdrop-filter: blur(3px);

	transition: all var(--TSmooth) 1s;
}

nav.Bar.BackgroundBlured {
	backdrop-filter: blur(2vw);
}


nav.Bar .Item {
	text-decoration: none;
	font-size: 1.2em;
	padding: 0 1%;

	background-color: transparent;

	transition: all ease-in-out 1s;
}

nav.Bar .Item:hover {
	color: var(--CHighlight);
}

/* in future instead of JS
nav.Bar:has(>.Item:hover) {
	backdrop-filter: blur(10px);
}
*/

main {
	padding-top: 2vw;
}

section {
	padding: 0 2.5%;
	margin: 2.5% 0;
}

img {
	max-width: 100%;
}



/* ***GRID-DEMO*** */
section.grid-Demo {

	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-areas:
		"div2 div2"
		"div1 div3"
		"div5 div4"
	;
}

div.grid-Demo {
	width: 100%;
	height: 100%;
	min-height: 75px;
	min-width: 50px;
}










@media (prefers-color-scheme: light) {
	*:not(code) {
		background-color: var(--CWhite);
		color: var(--CBlack);
	}
}
@media screen and (min-width: 720px) and (max-width: 960px) {
	*:not(code) {
		background-color: var(--CWhite);
		color: var(--CBlack);
	}
	
	section.grid-Demo {
		grid-template-areas: 
			"div3 div4 div5"
			"div3 div2 div5"
			"div3 div1 ."
		;
		grid-template-columns: 2fr 1fr 3fr;
	}
}